<footer class="footer">
  <div class="footer__white-circle-container">
    <a class="footer__white-circle btn-footer" href="#hero">
      <img
        class="footer__arow"
        src="./assets/images/ico-arrow.svg"
        alt="Button to go to the beginning of page"
        title="Button to go to the beginning of page"
      />
    </a>
  </div>
  <section class="footer__link-section">
    <div class="nav__container">
      <nav class="nav">
        <ul class="footer__links">
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">articles</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">books</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">events</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">reasons</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">tips</a></li>
        </ul>
      </nav>
      <nav class="nav">
        <ul class="footer__links">
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">twitter</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">instagram</a></li>
          <li><a class="footer__links-list" href="https://adalab.es/" target="_blank">mastodon.social</a></li>
        </ul>
      </nav>
    </div>
    <div class="footer__copy">
      <span class="copy"> &copy; 2022</span>
      <span class="love-components"
        >we
        <img class="copy__heart" src="./assets/images/favicon-16x16.png" alt="heart icon" title="heart icon" />
        components</span
      >
    </div>
  </section>
</footer>
