<footer class="footer">
  <div class="footer__white-circle-container">
    <a class="footer__white-circle btn-footer" href="#hero">
      <img
        class="footer__arow"
        src="./assets/images/ico-arrow.svg"
        alt=""
        title=""
      />
    </a>
  </div>
  <section class="footer__link-section">
    <div class="nav__container">
      <nav class="nav">
        <ul class="footer__links">
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>articles</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>books</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>events</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>reasons</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>tips</li></a
          >
        </ul>
      </nav>
      <nav class="nav">
        <ul class="footer__links">
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>twitter</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>instagram</li></a
          >
          <a
            class="footer__links-list"
            href="https://adalab.es/"
            target="_blank"
            ><li>mastodon.social</li></a
          >
        </ul>
      </nav>
    </div>
    <div class="footer__copy">
      <span class="copy"> &copy; 2022</span>
      <span class="love-components"
        >we
        <img
          class="copy__heart"
          src="./assets/images/favicon-16x16.png"
          alt="heart icon"
          title="heart icon"
        />
        components</span
      >
    </div>
  </section>
</footer>
