<section class="hero__container" id="hero">
  <h1 class="hero__primary">Anonymous proxy</h1>
  <p class="hero__primary-sub">In hac habitasse platea <span class="dictumst">dictumst.</span></p>
  <div class="hero__white-circle-container">
    <a class="hero__white-circle" href="./index.html#reasons">
      <img
        class="hero__arow"
        src="./assets/images/ico-scroll-down.svg"
        alt="Button to go to section 3 reasons to purchase"
        title="Button to go to section 3 reasons to purchase"
      />
    </a>
  </div>
</section>
