<section class="reasons" id="reasons">
  <h3 class="reasons__main">3 reasons to purchase</h3>

  <div class="reasons__container">
    <div class="reasons__container-items">
      <h2 class="reasons__main-bold ut">Ut sed metus</h2>
      <p class="reasons__sub">Lorem ipsum dolor sit amet, consecteur.</p>
    </div>
    <div class="reasons__container-items">
      <h2 class="reasons__main-bold">Curabitur ac erat</h2>
      <p class="reasons__sub">Mauris mattis urna quis lorem molestie.</p>
    </div>
    <div class="reasons__container-items">
      <h2 class="reasons__main-bold">Morbi dictum</h2>
      <p class="reasons__sub">Aliquam in dolor et dolor tincidunt.</p>
    </div>
  </div>

  <a class="btn__reasons-more btn" href="#">More reasons</a>
</section>
