// fonts
$font-main: "Roboto", sans-serif;
$font-sub: "Roboto Slab", sans-serif;

// colors
$color-hamb: #0271bc;
$color-white: #fff;
$color-small: #8ccbea;
$color-bkg-rsn: #eff9ff;
$color-parf: #4a4a4a;
$color-btn: #f26002;
$color-bkg-btn: rgba(0, 0, 0, 0.2);
$color-bkg-ftr: #304268;
