.footer {
  background-color: $color-bkg-ftr;
  font-size: 1.6rem;
  color: $color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4rem;

  a {
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
  }

  a:hover {
    text-decoration-color: $color-small;
  }

  &__arow {
    width: 2rem;
  }

  &__white-circle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-2rem);
    padding-bottom: 2rem;
  }

  &__white-circle {
    background: $color-white;
    border-radius: 50%;
    display: block;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__links {
    text-transform: uppercase;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 2;
    margin-bottom: 3rem;
    &-list {
      color: $color-white;
      text-decoration: none;
    }
  }
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.love-components {
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.copy {
  font-size: 1.4rem;
  &__heart {
    height: 1.2rem;
  }
}
