.reasons {
  background-color: $color-bkg-rsn;
  display: grid;
  justify-items: center;
  text-align: center;
  padding-bottom: 5.5rem;

  &__main {
    font-family: $font-sub;
    font-size: 2.4rem;
    text-transform: capitalize;
    padding-top: 2.9rem;
    &-bold {
      font-family: $font-sub;
      font-size: 1.8rem;
    }
  }
  &__sub {
    font-size: 1.8rem;
  }

  &__container-items {
    margin-left: 7rem;
    margin-right: 7rem;
    line-height: 1.67;
    margin-bottom: 5rem;
  }
}
.reasons__main-bold.ut {
  padding-top: 3rem;
}

.btn__reasons-more {
  text-decoration: none;
  color: $color-white;
  background-color: $color-btn;
  font-size: 2rem;
  border-radius: 10rem;
  height: 4.5rem;
  width: 20rem;
  padding: 1rem 2.3rem;
}
.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem $color-bkg-btn;

  &:link {
    display: inline-block;
    transition: all 0.2s;
    position: relative;
  }
}
