// @import "core/variables";
// @import "core/reset";
// @import "components/code";
// @import "components/links";
// @import "layout/page";
// @import "layout/header";
// @import "layout/footer";
// @import "pages/index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
}
/* header */
.header__hamb {
  position: fixed;
  background-color: #0271bc;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero */
.hero__text-box {
  color: white;
  background-image: url("/assets/images/cover.jpeg");
  max-width: 100vw;
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.hero__primary {
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  display: block;
  margin-top: 240px;
  font-size: 42px;
}

.hero__primary-sub {
  font-family: "Roboto Slab", serif;
  font-weight: 100;
  font-size: 1.6rem;
  display: block;
}

.hero__white-circle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__white-circle {
  background: white;
  border-radius: 50%;
  display: block;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.hero__arow {
  width: 1.5rem;
}

/* Insomnia */

.insomnia {
  margin: 60px 15px 35px 15px;
}

.insomnia__tips {
  color: #8ccbea;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: "Roboto Slab", serif;
  display: block;
  padding-bottom: 1rem;
}

.insomnia__look {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 2.4rem;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.insomnia__look-paragraph {
  color: #4a4a4a;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.67;
  margin-bottom: 30px;
}

.btn__go-container {
  display: flex;
  justify-content: left;
}

.btn__go-word {
  text-decoration: none;
  color: #f26002;
  text-transform: capitalize;
  font-size: 2rem;
  border: solid 3px #f26002;
  border-radius: 22.5px;
  height: 4.5rem;
  width: 7.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
