@import "core/variables";
@import "core/reset";
@import "layout/header";
@import "layout/hero";
@import "layout/insomnia";
@import "layout/reasons";
@import "layout/footer";

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

@media (min-width: 768px) {
  .header__hamb {
    height: 4.4rem;
    width: 4rem;
  }
  .hero__primary {
    font-size: 8rem;

    &-sub {
      font-size: 2.4rem;
      padding-bottom: 2rem;
    }
  }
  .dictumst {
    display: block;
  }

  .hero__white-circle {
    width: 4.5rem;
    height: 4.5rem;
  }

  .insomnia {
    padding: 4rem 3.9rem 6rem 3.9rem;

    &__tips {
      font-size: 1.4rem;
    }

    &__look {
      font-size: 2.6rem;
      padding-bottom: 2rem;

      &-paragraph {
        font-size: 2rem;
      }
    }
  }

  .btn__go-word {
    width: 9.1rem;
    padding-left: 3rem;
  }
  .reasons__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 1.7rem 4rem -3rem 4rem;
    gap: 2rem;
    padding-bottom: 4rem;

    &-items {
      margin: 0;
      height: 15rem;
    }
  }

  .reasons__main {
    font-size: 2.6rem;
    padding-bottom: 1rem;

    &-bold {
      font-size: 2.4rem;
      width: 100%;
      padding-bottom: 1.2rem;
    }
  }
  .reasons__main-bold.ut {
    padding-top: 0;
  }
  .reasons__sub {
    font-size: 2rem;
  }
  .footer {
    padding-bottom: 0;

    &__link-section {
      display: flex;
      width: 90vw;
    }
  }

  .nav {
    display: flex;
    justify-content: flex-end;

    &__container {
      width: 50vw;
      display: flex;
      justify-content: flex-end;
      gap: 7rem;
    }
  }

  .footer__link-section {
    margin-left: 3.9rem;
  }
  .footer__links-list {
    text-align: left;
    width: 15rem;
  }
  .footer__copy {
    order: -1;
    display: flex;
    flex-direction: column;
    width: 20rem;
  }
  .copy {
    width: 100%;
    line-height: 2;
  }
  .love-components {
    padding-top: 1rem;
    width: 100%;
    font-size: 1.4rem;
  }
}

@media (min-width: 1280px) {
  .header__hamb {
    height: 4.4rem;
    width: 4.4rem;
  }
  .hero__primary {
    font-size: 10rem;
  }
  .dictumst {
    display: inline;
  }
  .insomnia {
    padding: 6.5rem 27.5rem 6rem 27.5rem;
    &__tips {
      font-size: 1.6rem;
    }
    &__look {
      font-size: 3.2rem;
      padding-bottom: 1.2rem;
    }
  }

  .btn__go-word {
    width: 16rem;
    height: 4.5rem;
    padding-left: 6.5rem;
  }
  .reasons__main {
    font-size: 3.2rem;
    padding-top: 6.1rem;
  }
  .reasons__container {
    margin-left: 8.1rem;
    margin-right: 8.5rem;
  }
  .btn__reasons-more {
    width: 25.5rem;
  }
  .footer__link-section {
    justify-content: flex-end;
  }
  .nav__container {
    justify-content: flex-start;
  }
}
